.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}
.usersButton {
	width: 440px;
	height: 32px;
}
.postsButton {
	width: 440px;
	height: 32px;
}
.commentsButton {
	width: 440px;
	height: 32px;
}
.usersButton:focus {
	background-color: black;
	color: white;
	border: 1px;
}
.postsButton:focus {
	background-color: black;
	color: white;
	border: 1px;
}
.commentsButton:focus {
	background-color: black;
	color: white;
	border: 1px;
}
